# Check your uid:gid at your terminal with command = id -u : id -g
# For example, if your uid is 1000 and gid is 1000, then set like below:
# Copy this file to .env and set your uid and gid
UID=your uid host user
GID=your gid host user